body{
	background-color: #f5f5f5;
}
#custom-bootstrap-menu.navbar-default .navbar-brand {
   color: rgba(255,255,255,0.7);
}
#custom-bootstrap-menu.navbar-default {
	border-color: rgba(34,34,34,.05);
	background-color: #1f1f1f;
	border-radius: 0px;
	font-size: 17px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: #fff;
}
#custom-bootstrap-menu.navbar-default .dropdown-menu>li>a:hover,
#custom-bootstrap-menu.navbar-default .dropdown-menu>li>a:focus {
    color: #000;
	background-color: #dadada;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: #ffd700;
	background-color: #1f1f1f;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: #ffd700;
	background-color: #1f1f1f;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border: none;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #1f1f1f;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffd700;
}
.foto{
	border: 1px solid;
	border-color: #0000;
	border-radius: 25px;
	text-align: center;
	margin: 0em 0em 0em 0.1em;
	float: left;
}
hr {
	border: 0; 
	border-top: 1px solid #999; 
	border-bottom: 1px solid #333; 
	height:0;
}
.foto img{
	padding: 0.5em 0 0 0;
}