.color-group {
	width: 9%;
	float: left;
	display: block
}

.color-block {
	float: left;
	display: block;
	position: relative;
	width: 100%;
	padding-bottom: 100%
}

.color-block div {
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.375s cubic-bezier(0.4, 0, 0.2, 1);
	-moz-transition: all 0.375s cubic-bezier(0.4, 0, 0.2, 1);
	-o-transition: all 0.375s cubic-bezier(0.4, 0, 0.2, 1);
	transition: all 0.375s cubic-bezier(0.4, 0, 0.2, 1)
}

@media only screen and (min-width: 48.063em) {
	.color-block:hover div {
		-webkit-transform: scale(2);
		-moz-transform: scale(2);
		-ms-transform: scale(2);
		-o-transform: scale(2);
		transform: scale(2);
		border-radius: 3px;
		z-index: 4
	}
}